<% content_for :title, "Bookmark | Kenneth's Reading List App" %>
<% content_for :my_heading, "#{@reading.name} | Your bookmark!" %>
<h1><%= @bookmark.page_number %></h1>
<h2><i><%= @bookmark.description %></i></h2>

<%= link_to 'Edit', edit_reading_bookmark_path(@reading.id, @bookmark), class: 'btn btn-primary'  %>
<%= link_to 'Remove', reading_bookmark_path(@reading.id, @bookmark.id), method: :delete, data: { confirm: 'Are you sure?'} , class: 'btn btn-danger' %>

<br><br>
<%= link_to 'Back to home', readings_path %>
