<% content_for :title, "Kenneth's Reading List App" %>
<% content_for :my_heading, "Welcome to Kenneth's Reading List App" %>

<table class="table table-hover table-responsive" id="top">
  <thead class="thead-inverse">
    <th>Name</th>
    <th>Author</th>
    <th colspan="5">Read?</th>
  </thead>
  <tbody>
    <% @readings.each do |reading| %>
    <tr>
      <td class="align-middle"><%= reading.name %> </td>
      <td class="align-middle"><%= reading.author %> </td>
      <td><%= link_to "#{reading.completed ? 'Yes' : 'No' }", readit_path(reading.id), method: :patch, class: "btn btn-secondary unread_button #{'read_button' if reading.completed }" %></td>
      <td><%= link_to 'Show', reading_path(reading.id), class: 'btn btn-info' %></td>
      <td><%= link_to 'Edit', edit_reading_path(reading), class: 'btn btn-primary'  %></td>
      <td><%= link_to 'Remove', reading_path(reading.id), method: :delete, data: { confirm: 'Are you sure?'} , class: 'btn btn-danger' %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<a href="#top" class="text-right">Back to top!</a>
<br><br>
<p>
  <%= link_to 'Add a book!', new_reading_path, class: 'btn btn-dark'  %>
</p>
